# 6 - Pivot Table
In this sixth step I'll show you how to reshape your data using a pivot table.

This will provide a nice condensed version. 

We'll reshape the data so that we can see how much each customer spent in each category.

In [2]:
import pandas as pd 
import numpy as np

df = pd.read_json("customer_data.json", convert_dates=False)
df.head()

,amount,category,city,customer_id,date,frequently_bought_together,lat_lon,purchase,related_items,state,zip_code
0,24.64,household,Chicago,100191,1-Jan-14,towels,"41.86,-87.619",soap,towels,IL,60605
1,35,clothing,Dallas,100199,2-Jan-14,sandals,"32.924,-96.547",shorts,belts,TX,75089
2,89.72,outdoor,Philadelphia,100170,3-Jan-14,lawn bags,"40.002,-75.118",lawn_mower,shovels,PA,19019
3,51.32,electronics,Chicago,100124,4-Jan-14,headphones,"41.88,-87.63",laptop,headphones,IL,60603
4,81.75,outdoor,Philadelphia,100173,5-Jan-14,sponge,"39.953,-75.166",car wash,sponge,PA,19102

Taking a quick look using the <code>.head()</code> function, we can see all of the columns, and the first few rows of the data.

For this example, let's just use the first 50 rows of the data.

In [20]:
df_subset = df[0:50]
df_subset

,amount,category,city,customer_id,date,frequently_bought_together,lat_lon,purchase,related_items,state,zip_code
0,24.64,household,Chicago,100191,1-Jan-14,towels,"41.86,-87.619",soap,towels,IL,60605
1,35,clothing,Dallas,100199,2-Jan-14,sandals,"32.924,-96.547",shorts,belts,TX,75089
2,89.72,outdoor,Philadelphia,100170,3-Jan-14,lawn bags,"40.002,-75.118",lawn_mower,shovels,PA,19019
3,51.32,electronics,Chicago,100124,4-Jan-14,headphones,"41.88,-87.63",laptop,headphones,IL,60603
4,81.75,outdoor,Philadelphia,100173,5-Jan-14,sponge,"39.953,-75.166",car wash,sponge,PA,19102
5,29.16,outdoor,San Diego,100116,6-Jan-14,fertilizer,"33.143,-117.03",lawn mower,rakes,CA,92027
6,50.71,outdoor,Dallas,100105,7-Jan-14,bbq sauce,"32.745,-96.46",grill,grill cleaner,TX,75126
7,35.03,household,San Antonio,100148,8-Jan-14,spray bottles,"29.502,-98.306",household cleaner,spray bottles,TX,78109
8,30.55,appliances,Philadelphia,100118,9-Jan-14,pot holders,"39.953,-75.166",slow cooker,tupperware,PA,19102
9,92.01,electronics,Dallas,100106,10-Jan-14,camera lens,"32.917,-96.973",camera,lens cleaner,TX,75126
10,31.79,outdoor,New York City,100109,11-Jan-14,gloves,"40.699,-74.041",snow shovel,boots,NY,10004
11,96.87,clothing,Chicago,100153,12-Jan-14,dress shoes,"41.86,-87.619",shoes,dress shoes,IL,60605
12,41.91,outdoor,San Diego,100116,13-Jan-14,bbq sauce,"33.143,-117.03",grill,propane tank,CA,92027
13,61.99,appliances,San Antonio,100151,14-Jan-14,fruit,"29.363,-98.49",blender,pitcher,TX,78214
14,36.11,clothing,Chicago,100191,15-Jan-14,t shirt,"41.86,-87.619",shirts,t-shirt,IL,60605
15,75,appliances,San Antonio,100185,16-Jan-14,bagels,"29.363,-98.49",toaster,cream cheese,TX,78214
16,87.08,electronics,Chicago,100153,17-Jan-14,headphones,"41.86,-87.619",laptop,charger,IL,60605
17,41.34,household,San Antonio,100151,18-Jan-14,fabric softener,"29.363,-98.49",detergent,fabric softener,TX,78214
18,27.37,clothing,New York City,100196,19-Jan-14,shoe laces,"40.699,-74.041",shoes,dress shoes,NY,10004
19,38.61,electronics,Chicago,100124,20-Jan-14,surround sound,"41.88,-87.63",tv,surround sound,IL,60603
20,53.8,household,New York City,100188,21-Jan-14,paper towels,"40.717,-73.987",paper products,toilet paper,NY,10002
21,85,appliances,San Jose,100192,22-Jan-14,butter,"37.536,-122.034",toaster,bread,CA,94560
22,85.92,house,SD,100140,23-Jan-14,batteries,"32.839,-117.262",tools,screws,CA,92037
23,91.98,clothing,San Jose,100159,24-Jan-14,sneakers,"37.189,-121.705",shoes,dress shoes,CA,95115
24,64.86,appliances,San Antonio,100182,25-Jan-14,cookbook,"29.852,-98.729",slow cooker,tongs,TX,78006
25,86.05,outdoor,Hou,100158,26-Jan-14,rakes,"29.718,-95.428",lawn mower,gardening gloves,TX,77005
26,78.81,clothing,San Antonio,100185,27-Jan-14,wallet,"29.363,-98.49",pants,wallet,TX,78214
27,78.61,electronics,Houston,100103,28-Jan-14,headphones,"29.72,-95.279",audio,headphones,TX,77012
28,36.21,clothing,Philadelphia,100150,29-Jan-14,sunglasses,"40.002,-75.118",shorts,t-shirts,PA,19019
29,66.56,clothing,Phoenix,100183,30-Jan-14,collared shirt,"33.451,-112.071",shirts,shortsleeve,AZ,85004
30,77.28,outdoor,Phoenix,100111,31-Jan-14,gloves,"33.512,-112.142",snow shovel,mittens,AZ,85019
31,89.36,electronics,San Jose,100160,1-Feb-14,surround sound,"37.536,-122.034",tv,speakers,CA,94560
32,23.69,clothing,Los Angeles,100133,2-Feb-14,dress shirt,"34.066,-118.309",shirts,collared shirt,CA,90020
33,85.69,outdoor,Houston,100158,3-Feb-14,sand,"29.718,-95.428",snow shovel,mittens,TX,77005
34,97.59,appliances,San Jose,100193,4-Feb-14,egg cooker,"37.189,-121.705",microwave,popcorn,CA,95115
35,32.89,appliances,New York City,100167,5-Feb-14,vegetable peeler,"40.699,-74.041",food processor,vegetable peeler,NY,10004
36,70.66,house,Houston,100102,6-Feb-14,loofah,"29.793,-95.367",soap,shampoo,TX,77009
37,76.69,house,New York City,100167,7-Feb-14,loofah,"40.699,-74.041",soap,body wash,NY,10004
38,54.64,electronics,San Antonio,100185,8-Feb-14,camera case,"29.363,-98.49",camera,editing software,TX,78214
39,85.23,appliances,San Diego,100140,9-Feb-14,vegetables,"32.839,-117.262",food processor,vegetable peeler,CA,92037
40,70.18,appliances,San Jose,100162,10-Feb-14,tupperware,"37.536,-122.034",food processor,vegetables,CA,94560
41,34.57,appliances,Los Angeles,100123,11-Feb-14,serving spoon,"34.066,-118.309",slow cooker,cookbook,CA,90020
42,63.54,appliances,Houston,100186,12-Feb-14,tupperware,"29.793,-95.367",slow cooker,tongs,TX,77009
43,76.43,clothing,San Antonio,100198,13-Feb-14,wallet,"29.438,-98.462",pants,khakis,TX,78206
44,95.85,outdoor,New York City,100188,14-Feb-14,sand,"40.717,-73.987",snow shovel,mittens,NY,10002
45,79.43,clothing,Chicago,100136,15-Feb-14,wallet,"41.883,-87.629",pants,khakis,IL,60602
46,76.08,clothing,San Jose,100162,16-Feb-14,dress shirt,"37.536,-122.034",shirts,t-shirt,CA,94560
47,57.33,clothing,Chicago,100191,17-Feb-14,button down shirt,"41.86,-87.619",shirts,shortsleeve,IL,60605
48,86.29,clothing,Dallas,100120,18-Feb-14,winter gloves,"32.961,-96.838",jackets,scarfs,TX,75001
49,91.87,electronics,Dallas,100106,19-Feb-14,cell phone case,"32.917,-96.973",cell phone,screen cleaner,TX,75063

Let's take a look at the types for each column using the <code>.dtypes</code> method.

In [15]:
df_subset.dtypes

amount                        object
category                      object
city                          object
customer_id                    int64
date                          object
frequently_bought_together    object
lat_lon                       object
purchase                      object
related_items                 object
state                         object
zip_code                       int64
dtype: object

The amount column should be a numeric type, but Pandas thinks it's an <code>object</code>. Let's go ahead and change that column to a numeric <code>float</code> type using the <code>.astype()</code> method.

In [21]:
df_subset["amount"] = df_subset["amount"].astype(float)
df_subset.dtypes

C:\Users\NickScherer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

amount                        float64
category                       object
city                           object
customer_id                     int64
date                           object
frequently_bought_together     object
lat_lon                        object
purchase                       object
related_items                  object
state                          object
zip_code                        int64
dtype: object

Now we can see that the <code>amount</code> column is a numeric <code>float</code> type. 

We don't need all of the columns, just the <code>customer_id</code>, <code>category</code>, and <code>amount</code> columns.

Here's what that smaller dataframe would look like.

In [17]:
df_subset[["customer_id", "category", "amount"]]

    customer_id     category  amount
0        100191    household   24.64
1        100199     clothing   35.00
2        100170      outdoor   89.72
3        100124  electronics   51.32
4        100173      outdoor   81.75
5        100116      outdoor   29.16
6        100105      outdoor   50.71
7        100148    household   35.03
8        100118   appliances   30.55
9        100106  electronics   92.01
10       100109      outdoor   31.79
11       100153     clothing   96.87
12       100116      outdoor   41.91
13       100151   appliances   61.99
14       100191     clothing   36.11
15       100185   appliances   75.00
16       100153  electronics   87.08
17       100151    household   41.34
18       100196     clothing   27.37
19       100124  electronics   38.61
20       100188    household   53.80
21       100192   appliances   85.00
22       100140        house   85.92
23       100159     clothing   91.98
24       100182   appliances   64.86

Let's finish up by creating our <code>pivot_table</code>.

We'll set the index to <code>customer_id</code>, the columns to <code>category</code>, and the values to <code>amount</code>. This will reshape the data so that we can see how much each customer spent in each category. Let's create this using a new dataframe called <code>df_pivot</code>.

The final important point before we reshape the data is the <code>aggfunc</code> parameter. Since customers probably spent multiple purchase in the same categories, we'll want to collect all of the purchase. We'll do that using Numpy's <code>sum</code> method. I've shorted the Numpy library name to <code>np</code>, so that's why I've set the <code>aggfunc</code> to <code>np.sum</code>.

In [23]:
# pivot table; aggregation function "sum"

df_pivot = df_subset.pivot_table(index="customer_id", columns="category", values="amount", aggfunc=np.sum)
print(df_pivot)

category     appliances  clothing  electronics  house  household  outdoor
customer_id
100102              NaN       NaN          NaN  70.66        NaN      NaN
100103              NaN       NaN        78.61    NaN        NaN      NaN
100105              NaN       NaN          NaN    NaN        NaN    50.71
100106              NaN       NaN       183.88    NaN        NaN      NaN
100109              NaN       NaN          NaN    NaN        NaN    31.79
100111              NaN       NaN          NaN    NaN        NaN    77.28
100116              NaN       NaN          NaN    NaN        NaN    71.07
100118            30.55       NaN          NaN    NaN        NaN      NaN
100120              NaN     86.29          NaN    NaN        NaN      NaN
100123            34.57       NaN          NaN    NaN        NaN      NaN
100124              NaN       NaN        89.93    NaN        NaN      NaN
100133              NaN     23.69          NaN    NaN        NaN      NaN
100136              NaN     79.43          NaN    NaN        NaN      NaN
100140            85.23       NaN          NaN  85.92        NaN      NaN
100148              NaN       NaN          NaN    NaN      35.03      NaN
100150              NaN     36.21          NaN    NaN        NaN      NaN
100151            61.99       NaN          NaN    NaN      41.34      NaN
100153              NaN     96.87        87.08    NaN        NaN      NaN
100158              NaN       NaN          NaN    NaN        NaN   171.74
100159              NaN     91.98          NaN    NaN        NaN      NaN
100160              NaN       NaN        89.36    NaN        NaN      NaN
100162            70.18     76.08          NaN    NaN        NaN      NaN
100167            32.89       NaN          NaN  76.69        NaN      NaN
100170              NaN       NaN          NaN    NaN        NaN    89.72
100173              NaN       NaN          NaN    NaN        NaN    81.75
100182            64.86       NaN          NaN    NaN        NaN      NaN
100183              NaN     66.56          NaN    NaN        NaN      NaN
100185            75.00     78.81        54.64    NaN        NaN      NaN
100186            63.54       NaN          NaN    NaN        NaN      NaN
100188              NaN       NaN          NaN    NaN      53.80    95.85
100191              NaN     93.44          NaN    NaN      24.64      NaN
100192            85.00       NaN          NaN    NaN        NaN      NaN
100193            97.59       NaN          NaN    NaN        NaN      NaN
100196              NaN     27.37          NaN    NaN        NaN      NaN
100198              NaN     76.43          NaN    NaN        NaN      NaN
100199              NaN     35.00          NaN    NaN        NaN      NaN

Now we have a new dataframe showing how much each customer spent in each category. 

There's a lot of <code>NaN</code> values because a lot of customers didn't spend any money in certain categories.

You should also note that there's a <code>house</code> and <code>household</code> column. We need to clean the data so that we have consistent strings before we reshape it. Look back at <strong>Step 3 - Consistent Strings</strong> to help you with that.